* {
    box-sizing: border-box;
}

body {
    background-color: #10457e;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

h1 {
    margin: 20px 0 0;
}

p {
    margin: 10px 0 5px;
}

.hangman-container {
    height: 320px;
    width: 450px;
    position: relative;
}

.figure-container {
    height: 250px;
    width: 200px;
    stroke-width: 4px;
    stroke: #fff;
    stroke-linecap: round;
    fill: transparent;
}

.figure-parts {
    display: none;
}

#wrong-letters-container {
    width: 150px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
}

#wrong-letters-container p {
    margin: 0 0 5px;
}

#wrong-letters-container span {
    font-size: 24px;
    font-family: monospace;
}

#word-container {
    width: 380px;
    height: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    display: flex;
    justify-content: center;
}

#word-container span {
    font-size: 32px;
    font-family: monospace;
    border-bottom: 3px solid rgb(124, 198, 233);
    height: 50px;
    width: 20px;
    display: inline-flex;
    align-items: center;
    margin: 0 4px;
}

#popup-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal {
    /* width: 300px; */
    min-height: 150px;
    background-color: rgba(124, 198, 233, 0.7);
    border-radius: 10px;
    box-shadow: 0 15px 10px 3px rgba(255, 255, 255, 0.3);
    padding: 40px;
    text-align: center;
}

#modal h2 {
    margin: 0;
}

button {
    cursor: pointer;
    background-color: #fff;
    color: #2980b9;
    border: 0;
    margin-top: 20px;
    padding: 12px 20px;
}

button:active {
    transform: scale(0.98);
}

#notification-container {
    background-color: rgba(250, 162, 0, 0.8);
    position: absolute;
    bottom: -50px;
    padding: 15px 20px;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3 ease-in-out;
}


#notification-container.show {
    transform: translateY(-50px);
}

#notification-container p {
    margin: 0;
}